<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="bootstrap-material-design-icons/css/material-icons.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="favicon.ico">
    <title>NFC App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">NFC Application</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users">Users</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/class">Class<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container">
    <div id="warning" class="alert alert-warning">Placeholder text
    </div>

    <h1 class="mt-5">
        Class
    </h1>

    <div id="buttons" class="">
        <div id="serverButtons" class="btn-group">
            <button id="startServer" type="button" class="btn btn-outline-success" onclick="startServer()">
                <i class="mdi mdi-play-arrow"></i>
                Start NFC Server
            </button>
            <button id="stopServer" type="button" class="btn btn-outline-danger" onclick="stopServer()">
                <i class="mdi mdi-stop"></i>
                Stop NFC Server
            </button>
        </div>
    </div>


    <table id="tablePreview" class="table table-striped">
        <!--Table head-->
        <thead>
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Badge ID</th>
        </tr>
        </thead>
        <tbody>
        <% for(var i = 0 ; i < users.length ; i++) { %>
            <tr id="<%= users[i].username %>">
                <th scope="row"><%= users[i].id %></th>
                <td class="username"><%= users[i].username %></td>
                <td><%= users[i].lastname %></td>
                <td><%= users[i].firstname %></td>
                <td><a href="mailto:<%= users[i].email %>"><%= users[i].email %></a></td>
                <td><%= users[i].badgeid %></td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>

<script>
    let ws;
    let serverIsON = 0;

    function startServer() {

        console.log("start server button clicked")
        document.getElementById("startServer").className = "btn btn-success";
        $('#startServer').prop('disabled', true);
        document.getElementById("stopServer").className = "btn btn-outline-danger";
        $('#stopServer').prop('disabled', false);

        ws = new WebSocket('ws://<%= URI %>:3001');

        ws.onopen = function () {
            ws.send(`{"id":1}`);
            ws.onmessage = function (data) {
                const id = JSON.parse(data.data)["username"];
                if (id) {
                    console.log(id);
                    let myTr = document.getElementById(id);
                    if (myTr.className.includes("hasTagged")) {
                        const warningMessage = document.getElementById("warning");
                        warningMessage.innerText = "User " + id + " was already tagged.";
                        warningMessage.style.opacity = "1";
                        window.setTimeout(function () {
                            warningMessage.style.opacity = "0";
                        }, 2000);

                    } else {
                        myTr.style.backgroundColor = "#b8ddaa";
                        myTr.className += "hasTagged";
                    }
                }

            }
            ws.onclose = function (data) {
                console.log("closing ws");
            }
        }

    }

    function stopServer() {
        console.log("stop server button clicked")
        document.getElementById("startServer").className = "btn btn-outline-success";
        $('#startServer').prop('disabled', false);
        document.getElementById("stopServer").className = "btn btn-danger";
        $('#stopServer').prop('disabled', true);

        ws.close();
        let allTrs = document.getElementsByTagName("tr");
        for (let theTR of allTrs) {
            theTR.style.backgroundColor = "";
            theTR.className -= "hasTagged";
        }
    }


    $(window).bind('beforeunload', function (e) {
        if (serverIsON) {
            stopServer();
        }
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>