<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/bootstrap-material-design-icons/css/material-icons.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/favicon.ico">
    <title>NFC App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">NFC Application</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/class">Class</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/presence">Presence<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>


<div class="container">
    <div class="row my-4 justify-content-center">
        <div id="alert-danger-placeholder" class="alert alert-danger fade mx-auto"
             style="display:block; position: fixed; opacity: 0"></div>
        <div id="alert-warning-placeholder" class="alert alert-warning fade mx-auto"
             style="display:block; position: fixed; opacity: 0"></div>
    </div>

    <h1 class="mt-5">
        Presence
    </h1>


    <table id="tablePreview" class="table table-striped">
        <!--Table head-->
        <thead>
        <tr>
            <th>ClassID</th>
            <th>Class Date & Time</th>
            <th>Entry List</th>
            <th>SKoWA Verification</th>
            <th>Exit List</th>
        </tr>
        </thead>
        <tbody>
        <% for(var i = 0 ; i < classes.length ; i++) { %>
            <tr id="<%= classes[i].classid %>">
                <th scope="row"><%= classes[i].classid %></th>
                <td>
                    <% var d = new Date(0); // The 0 there is the key, which sets the date to the epoch
                    d.setUTCSeconds(classes[i].classid/1000);
                    d = d.toLocaleString();
                    %>
                    <%=d%>
                </td>
                <td class="entry">
                    <table class="table">
                        <tbody>
                        <% if  (classes[i].entry.length == 0) {%>
                            <i>No students</i>
                        <%} else {
                            for(var j = 0 ; j < classes[i].entry.length ; j++) {
                                // In case the list is empty
                                try {
                                    if(JSON.parse(classes[i].entry[j])["username"] != null) {%>
                                    <tr>
                                        <th>
                                            <%= JSON.parse(classes[i].entry[j])["username"] %>
                                        </th>
                                    </tr>
                                <% }
                                } catch(e) {%>
                                <i>No students</i>
                            <%  }
                            }
                        }%>
                        </tbody>
                    </table>
                </td>
                <td>

                </td>
                <td class="exit">
                    <table class="table">
                        <tbody>
                        <% if  (classes[i].exit.length == 0) {%>
                            <i>No students</i>
                        <%} else {
                            // In case the list is empty
                            try {
                                for(var j = 0 ; j < classes[i].exit.length ; j++) {
                                    if(JSON.parse(classes[i].exit[j])["username"] != null) {%>
                                        <tr>
                                            <th>
                                                <%= JSON.parse(classes[i].exit[j])["username"] %>
                                            </th>
                                        </tr>
                                    <% }
                                }
                            } catch(e) {%>
                                <i>No students</i>
                        <%  }
                        } %>
                        </tbody>
                    </table>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>

<script>

</script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>