<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="bootstrap-material-design-icons/css/material-icons.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="favicon.ico">
    <title>NFC App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">NFC Application</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/users">Users<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/class">Class</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container">
    <div id="warning" class="alert alert-warning">Placeholder text
    </div>

    <h1 class="mt-5">
        Users
    </h1>

    <div id="buttons" class="">
        <button id="addUser" type="button" class="btn btn-outline-primary" data-toggle="modal"
                data-target="#addUserModal">
            <i class="mdi mdi-add"></i>
            Add User
        </button>
        <button id="delUser" type="button" class="btn btn-outline-danger mx-2" onclick="delUser()">
            <i class="mdi mdi-delete"></i>
            Delete User
        </button>
    </div>


    <table id="tablePreview" class="table table-striped">
        <!--Table head-->
        <thead>
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Badge ID</th>
        </tr>
        </thead>
        <tbody>
        <% for(var i = 0 ; i < users.length ; i++) { %>
            <tr id="<%= users[i].username %>">
                <th scope="row"><%= users[i].id %></th>
                <td class="username"><%= users[i].username %></td>
                <td><%= users[i].lastname %></td>
                <td><%= users[i].firstname %></td>
                <td><a href="mailto:<%= users[i].email %>"><%= users[i].email %></a></td>
                <td><%= users[i].badgeid %></td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>

<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" method="">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="addUserFormUsername">Username</label>
                        <input type="text" class="form-control" id="addUserFormUsername" placeholder="jdoe" required>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="addUserFormFirstName">First Name</label>
                            <input type="text" class="form-control" id="addUserFormFirstName" placeholder="John" required>
                        </div>
                        <div class="form-group col">
                            <label for="addUserFormLastName">Last Name</label>
                            <input type="text" class="form-control" id="addUserFormLastName" placeholder="Doe" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addUserFormEmail">Email</label>
                        <input type="email" class="form-control" id="addUserFormEmail" placeholder="user@server.com" required>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4 align-bottom align-self-end">
                            <button type="button" class="btn btn-primary" onclick="scanBadge()">Scan Badge</button>
                        </div>
                        <div class="form-group col">
                            <label for="addUserFormBadgeID">Badge ID</label>
                            <input type="text" class="form-control" id="addUserFormBadgeID" placeholder="000000000" disabled required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-success" value="Submit">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let ws;
    let serverIsON = 0;

    function delUser() {
        console.log("del user button clicked")
    }

    function scanBadge() {
        console.log("scan badge button clicked")

        ws = new WebSocket('ws://<%= URI %>:3001');

        ws.onopen = function () {
            ws.send(`{"id":0}`);
            ws.onmessage = function (data) {
                const id = JSON.parse(data.data)["badgeid"];
                console.log(id);
                let myTextInput = document.getElementById("addUserFormBadgeID");
                myTextInput.value = id;
            }
        }
    }

    $(window).bind('beforeunload', function (e) {
        if (serverIsON) {
            stopServer();
        }
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>