<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/bootstrap-material-design-icons/css/material-icons.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/favicon.ico">
    <title>NFC App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">NFC Application</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/users">Users<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/class">Class</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container">
    <div class="row my-4 justify-content-center">
        <div id="alert-danger-placeholder" class="alert alert-danger fade mx-auto"
             style="display:block; position: fixed; opacity: 0"></div>
        <div id="alert-warning-placeholder" class="alert alert-warning fade mx-auto"
             style="display:block; position: fixed; opacity: 0"></div>
        <div id="alert-success-placeholder" class="alert alert-warning fade mx-auto"
             style="display:block; position: fixed; opacity: 0"></div>
    </div>

    <h1 class="mt-5">
        Users
    </h1>

    <div id="buttons" class="">
        <button id="addUser" type="button" class="btn btn-outline-success" data-toggle="modal"
                data-target="#addUserModal">
            <i class="mdi mdi-add"></i>
            Add User
        </button>
    </div>


    <table id="users-table" class="table table-striped">
        <!--Table head-->
        <thead>
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Badge ID</th>
            <th>Promotion</th>
        </tr>
        </thead>
        <tbody>
        <% for(var i = 0 ; i < users.length ; i++) { %>
            <tr id="<%= users[i].username %>">
                <th scope="row"><%= users[i].id %></th>
                <td id="username<%= users[i].id %>"><%= users[i].username %></td>
                <td id="lastname<%= users[i].id %>"><%= users[i].lastname %></td>
                <td id="firstname<%= users[i].id %>"><%= users[i].firstname %></td>
                <td id="email<%= users[i].id %>"><a href="mailto:<%= users[i].email %>"><%= users[i].email %></a></td>
                <td id="badgeid<%= users[i].id %>"><%= users[i].badgeid %></td>
                <td id="promotion<%= users[i].id %>"><%= users[i].promotion %></td>
                <td id="buttonsTD<%= users[i].id %>">
                    <button id="delUser<%= users[i].id %>" type="button" class="btn btn-sm btn-outline-danger" onclick="delUser(<%= users[i].id %>)">
                        <i class="mdi mdi-delete"></i>
                    </button>
                    <button id="editUser<%= users[i].id %>" type="button" class="btn btn-sm btn-outline-primary" onclick="editUser(<%= users[i].id %>)">
                        <i class="mdi mdi-edit"></i>
                    </button>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>


<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/users/add-user/" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="add-user-form-username">Username</label>
                        <input type="text" class="form-control" id="add-user-form-username" name="username" placeholder="jdoe" required>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="add-user-form-firstname">First Name</label>
                            <input type="text" class="form-control" id="add-user-form-first-name" name="firstname" placeholder="John"
                                   required>
                        </div>
                        <div class="form-group col">
                            <label for="add-user-form-lastname">Last Name</label>
                            <input type="text" class="form-control" id="add-user-form-last-name" name="lastname" placeholder="Doe" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-user-form-email">Email</label>
                        <input type="email" class="form-control" id="add-user-form-email" name="email" placeholder="user@server.com"
                               required>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4 align-bottom align-self-end">
                            <button id="scan-badge" type="button" class="btn btn-primary" onclick="scanBadge()">Scan
                                Badge
                            </button>
                        </div>
                        <div class="form-group col">
                            <label for="add-user-form-badge-id">Badge ID</label>
                            <input type="text" class="form-control" id="add-user-form-badge-id" name="badgeid" placeholder="" readonly required>
                        </div>
                    </div>
                    <small id="add-user-form-scan-error" class="form-text text-muted text-danger"></small>
                </div>
                <div class="modal-footer">
                    <input id="add-user-form-submit" type="submit" class="btn btn-success" value="Submit" disabled>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/users/edit-user/" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="edit-user-form-username">Username</label>
                        <input type="text" class="form-control" id="edit-user-form-username" name="username" placeholder="jdoe" required readonly>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="edit-user-form-firstname">First Name</label>
                            <input type="text" class="form-control" id="edit-user-form-first-name" name="firstname" placeholder="John"
                                   required>
                        </div>
                        <div class="form-group col">
                            <label for="edit-user-form-lastname">Last Name</label>
                            <input type="text" class="form-control" id="edit-user-form-last-name" name="lastname" placeholder="Doe" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="edit-user-form-email">Email</label>
                        <input type="email" class="form-control" id="edit-user-form-email" name="email" placeholder="user@server.com"
                               required>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4 align-bottom align-self-end">
                            <button id="scan-badge" type="button" class="btn btn-primary" onclick="scanBadge()">Scan
                                Badge
                            </button>
                        </div>
                        <div class="form-group col">
                            <label for="edit-user-form-badge-id">Badge ID</label>
                            <input type="text" class="form-control" id="edit-user-form-badge-id" name="badgeid" placeholder="" readonly required>
                        </div>
                    </div>
                    <small id="edit-user-form-scan-error" class="form-text text-muted text-danger"></small>
                </div>
                <div class="modal-footer">
                    <input id="edit-user-form-submit" type="submit" class="btn btn-success" value="Submit" disabled>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let ws;
    let serverIsON = 0;

    function delUser(id) {
        console.log("del user " + id +" button clicked")
    }

    // Basic example
    $(document).ready(function () {
        $('#users-table').DataTable({
            "paging": "first_last_numbers" // false to disable pagination (or any other option)
        });
        $('.dataTables_length').addClass('bs-select');
    });

    function editUser(id) {
        console.log("edit user " + id +" button clicked")
        $("#edit-user-form-submit").prop('disabled', true);
        $('#editUserModal').modal();
        $('#edit-user-form-username').val($('#username'+id).text());
        $('#edit-user-form-first-name').val($('#firstname'+id).text());
        $('#edit-user-form-last-name').val($('#lastname'+id).text());
        $('#edit-user-form-email').val($('#email'+id).text());
        $('#edit-user-form-badge-id').val($('#badgeid'+id).text());

    }

    function scanBadge() {
        console.log("scan badge button clicked")
        $('#scan-badge').prop('disabled', true);


        ws = new WebSocket('ws://<%= URI %>:3001');

        ws.onopen = function () {
            ws.send(`{"id":0}`);
            ws.onmessage = function (data) {
                const badgeid = JSON.parse(data.data)["badgeid"];
                const username = JSON.parse(data.data)["username"];
                if (!username) {
                    console.log(badgeid);
                    // let myTextInput = document.getElementById("add-user-form-badge-id");
                    // myTextInput.value = badgeid;
                    $('#add-user-form-badge-id').val(badgeid);
                    $('#edit-user-form-badge-id').val(badgeid);
                    $('#add-user-form-scan-error').text("");
                    $('#edit-user-form-scan-error').text("");
                    // let scanError = document.getElementById("scan-error");
                    // scanError.innerText = "";
                    $("#add-user-form-submit").prop('disabled', false);
                    $("#edit-user-form-submit").prop('disabled', false);
                } else {
                    console.log(badgeid + " already associated to user " + username);
                    $('#add-user-form-badge-id').val("");
                    $('#edit-user-form-badge-id').val("");
                    const errorText= "Badge " + badgeid + " already associated to user " + username;
                    $('#add-user-form-scan-error').text(errorText);
                    $('#edit-user-form-scan-error').text(errorText);
                    $("#add-user-form-submit").prop('disabled', true);
                    $("#edit-user-form-submit").prop('disabled', true);
                }

            }
        }

        ws.onclose = function () {
            $('#scan-badge').prop('disabled', false);
        }
    }

    function bootstrap_alert(type, message, timeout) {
        let alert = document.getElementById("alert-warning-placeholder");
        if (type === 'danger') {
            alert = document.getElementById("alert-danger-placeholder");
        }
        alert.innerText = message;
        alert.style.opacity = "1";
        window.setTimeout(function () {
            alert.style.opacity = "0";
        }, timeout);
    }

    $(window).bind('beforeunload', function (e) {
        if (serverIsON) {
            stopServer();
        }
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>